<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Book Notes</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Sedan+SC&display=swap');
    </style>
</head>
<body>

<div class="header">
    <a href="/#">
        <img class="logo" src="/images/logo.png" alt="logo">
    </a>

    <div id="navbar">
        <a href="/#books">Notes</a>
        <a href="/#contact">Contact</a>
        <form action="/new" method="get">
            <button>Add Book</button>
        </form>
    </div>
</div>